{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <form action="/login" method="post">
        <div class="mb-3 mt-3 ml-3 mr-3">
          <label for="email" class="form-label">Email:</label>
          <input type="text" class="form-control" id="email" placeholder="Enter email" name="username">
        </div>
        <div class="mb-3 ml-3 mr-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}