{% extends 'base.html' %}

{% block script %}
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js"
        integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="row" style="height: 400px;">
            <div class="col-sm-9" id="mynetwork" @click="click"></div>
            <div class="col-sm-3" id="network_info">
                <h1>Information</h1>
                <div>
                    <div v-for="(v, k) in content">
                        <h2>{[ k ]}</h2>
                        <p>{[ v ]}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" id="modeling">
        <div class="row">
            <div class="col-sm-9">
                <div>
                </div>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" @click="list_files">List</button>
            </div>
            
        </div>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasScrollingLabel">PROJECT PANEL</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h3>Local Projects</h3>
                <div v-for="v in files">
                    <div :id="v">
                        <p id="file_link" @click="load_project(v)">{[ v ]}</p>
                    </div>
                </div>
                <div class="mt-3">
                    <input type="text" class="form-control" placeholder="PROJECT NAME" v-model="cur_project">
                    <button type="button" class="btn btn-outline-primary" @click="save_graph">Save Graph</button>
                </div>
            </div>
          </div>
    </div>
    <script src="{{ url_for('static',filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static',filename='js/modeling.js') }}"></script>
{% endblock %}