<html>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script>
    
    <center>
        <h1></h1>
    </center>
    <!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

<style type="text/css">
    #mynetwork {
        width: 80%;
        height: 50%;
        background-color: #ffffff;
        border: 1px solid lightgray;
        position: relative;
        left: 0;
        right: 0;
    }

    #create_node {
        float: left;
        width: 400px;
        height: 600px;
    }

    #config {
        float: right;
        width: 400px;
        height: 600px;
    }

    #display {
        float: left;
        width: 200px;
        height: 600px;
    }
</style>

</head>

<body>
<div id="mynetwork"></div>

<div id="display">
    Add or modify node
    <textarea class="create" id="id"></textarea>
    <textarea class="create" id="name"></textarea>
    <textarea class="create" id="contents"></textarea>
    <button id="modify">add/modify</button>
</div>

<div id="display">
    Information
    <textarea class="display" id="id">{[ content ]}</textarea>
    <textarea class="display" id="name"></textarea>
    <textarea class="display" id="contents"></textarea>
</div>

<div id="display">
    Add edge
    <textarea class="edge" id="node1_id"></textarea>
    <button id="node1_id">select</button>
    <textarea class="edge" id="node2_id"></textarea>
    <button id="node2_id">select</button>
    <button id="create_edge">create edge</button>
</div>

<div id="display">
    Delete node
    <textarea class="delete" id="id"></textarea>
    <button id="delete_node">delete</button>
</div>

<div id="display">
    <button id="delete_edge">delete edge</button>
</div>

<div id="object">
    Object
    <div v-for="(v, k) in content">
        <p>{[ k ]}: {[ v ]}</p>
        <textarea v-model="content[k]"></textarea>
    </div>
</div>


<div id="config">

</div>

<script type="text/javascript">
    // initialize global variables.
    var edges;
    var nodes;
    var network;
    var container;
    var options, data; 
    var nodes = '{{ nodes|tojson }}';
    var edges = '{{ edges|tojson }}';
    
    nodes = $.parseJSON(nodes);
    edges = $.parseJSON(edges);


    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet(nodes);
        edges = new vis.DataSet(edges);

        // adding nodes and edges to the graph
        data = {
            nodes: nodes,
            edges: edges
        };

        var options = {
            "configure": {
                "enabled": true,
                "filter": [
                    "physics",
                    "nodes",
                    "edges"
                ]
            },
            "edges": {
                "color": {
                    "inherit": true
                },
                "smooth": {
                    "enabled": false,
                    "type": "continuous"
                }
            },
            "interaction": {
                "dragNodes": true,
                "hideEdgesOnDrag": false,
                "hideNodesOnDrag": false
            },
            "physics": {
                "enabled": true,
                "hierarchicalRepulsion": {
                    "centralGravity": 0.0,
                    "damping": 0.09,
                    "nodeDistance": 120,
                    "springConstant": 0.01,
                    "springLength": 100
                },
                "solver": "hierarchicalRepulsion",
                "stabilization": {
                    "enabled": true,
                    "fit": true,
                    "iterations": 1000,
                    "onlyDynamicEdges": false,
                    "updateInterval": 50
                }
            }
        };

        // if this network requires displaying the configure window,
        // put it in its div
        options.configure["container"] = document.getElementById("config");
        network = new vis.Network(container, data, options);

        return network;

    }
    drawGraph();
    
</script>
<script src="{{ url_for('static',filename='js/create_graph.js') }}"></script>
</body>

</html>